<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dodawanie użytkownika</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous"></link> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" crossorigin="anonymous"></link>
    </head>
    <body>
        <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="name">Imię</label>
                <input type="text" th:field="*{name}" id="name" placeholder="Imię"/>
            </div>
            
            <div class="form-group">
                <label for="name">Nazwisko</label>
                <input type="text" th:field="*{surname}" id="surname" placeholder="Nazwisko"/>
            </div>
            
            <div class="form-group">
                <label for="name">Opis</label>
                <input type="text" th:field="*{description}" id="description" placeholder="Opis"/>
            </div>
            <input type="submit" value="Dodaj użytkownika"/>
        </form>
    </body>
</html>
